:host {
    .hello-container {
        position: absolute;
    }

    .hello {
        font-family: 'Poppins', sans-serif;
        font-size: 32px;
        font-weight: 500;
    }

    .logout {
        background-color: red;
        width: 50%;
    }

    .logout:hover {
        background-color: rgb(203, 0, 0);
    }
}